$color-main: #3e3f58;
$color-secondary: #3e4056;
$color-orange: #f05d63;
$color-red-dark: #ed5267;
$color-gray: #636363;
$color-gray-light: #b2b3bb;
$color-white: #ffffff;
$color-bg-main: rgba(236, 241, 248, 0.4);
$color-bg-item-menu: rgba(236, 241, 248, 0.6);
$font-family-main: 'Open Sans', sans-serif;
$font-family-headings: 'Montserrat', sans-serif;
$box-shadow: 0 12px 12px rgba(0, 0, 0, 0.06);
